
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page</title>
</head>
<body>
    <header style="height:150px;background-color:red">
        <h2>This is Header Page</h2>
    </header>
    <div> 
        <h1>Hello @ViewBag.UserName !!!</h1>
    </div>
    <footer style="height:150px;background-color:aqua;margin-top:20%">
        <h2>This is Footer Page</h2>
    </footer>
</body>
</html>
